<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../img/favicon.ico">
    <meta name="description"
      content="cuidado de la salud, ralajacion, prevencion de enfermedades, curar">

    <meta name="keywords"
     content="salud, dolor, menstruales, ojos, acupuntura, alivio, colombia, precios bajos, tranquilidad, vacaciones, cocina">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>GolloStoretiendasalud</title>
  </head>
  <body>
    <!-- logo y menu principal -->
    <nav  class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="../index.html"><img src="../img/remove.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="../index.html">inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./nosotros.html">nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./salud.html">salud</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../views/tienda.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              tienda
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./tienda.html">Diadema</a>
              <a class="dropdown-item" href="./tienda.html">Warm Palace</a>
              <a class="dropdown-item" href="./tienda.html">Electroacupuntura</a>
              <a class="dropdown-item" href="./tienda.html">Lampara</a>
              <a class="dropdown-item" href="./tienda.html">EagleBrand</a>
              <a class="dropdown-item" href="./tienda.html">Mascarilla</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contactenos.html">contactenos</a>
          </li>
          <nav class="navbar navbar-light bg-light mx-auto p-1 rounded">
            <div class="shadow-lg p-1 mb-1 bg-primary rounded"><form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form></div>
            
          </nav>
        </ul>
      </div>
    </nav>
    <!--contenido tercera pagina-->
    <table class="table">
        <thead>
          <tr class="filas">
            <th scope="col">Producto</th>
            <th scope="col" >Caracteristicas</th>
            <th scope="col">Ventajas</th>
            <th scope="col">Mayor informacion</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabla">
            <th scope="row">Electroacupuntura</th>
            <td w-300> <li class="electrocaupuntura">Funciones de cuidado de la salud
              Cuando la sonda estimula la piel, tendrá una sensación de deslizamiento y vibración. y la sensación será más fuerte si se pone
              la máquina en el punto relevante. Entonces se sentirá relajado y cómodo después de usar la máquina. El Acupointer estimula
              electrofisiológicamente nuestro cuerpo, a través de la red de bioejes, directamente en los tejidos corporales, órganos,
              regulando el campo eléctrico, activan los radicales y el ajuste de la celis biológica, esencialmente regulan la absorción,
              conducción, equilibrio, metabolismo, funciones inmunes del cuerpo, y cuidado de la salud.</li>
              
              </td>
            <td> <li> La Acupuntura es una forma conveniente de realizar la terapia de bajo voltaje, un método que ha demostrado tener muchos
                      beneficios para la salud. La terapia de bajo voltaje no es una tecnología nueva, aunque no es muy conocida en el mundo occidental.
                      Se usa comúnmente en la Medicina Tradicional China (MTC), a veces en lugar o en combinación con la acupuntura.</li>
                <li>Efecto de cuidado de la belleza
                      El Acupointer puede funcionar para el estiramiento facial, eliminar la bolsa, las ojeras y las arrugas, haciendo un efecto
                      inmediato en el rostro. También puede hacerte joven y saludable para siempre si sigues usándolo. (Mejor con cosméticos
                      profesionales. De lo contrario, puedes usar solución salina normal o agua destilada en su lugar. Para un cuidado facial y ocular
                      profesional, tendrás que combinar productos de belleza profesionales.</li>
            </td>
            <td>Visite nuestro sitio de compras para mayor infomacion <a href="../views/tienda.html">Aquí</a></td>
              
          </tr>
          <tr>
            <th scope="row">Eucalipto</th>
            <td>Para el alivio del dolor en las articulaciones asociado con dolor de espalda, distensiones, contusiones y esguinces.</td>
            <td>El aceite medicinal Eagle Brand se identifica fácilmente por el color verde único de su aceite medicinal y se conoce ampliamente como el aceite verde. El verde natural en el aceite proviene de la clorofila.
                El aceite medicinal Eagle Brand es famoso por sus características, fragancia, propiedades curativas y suavizantes.
                La botella de vidrio ascendente triangular parisina de forma única realza aún más su identidad.
                Posicionada como un aceite medicinal de calidad superior, Eagle Brand ha forjado una gran lealtad a la marca por parte del consumidor en todo el mundo.
                El producto se introdujo por primera vez en Asia en los años 60 y ha ganado aceptación como un aceite medicinal en toda Asia y el resto del mundo.
                se usa para aliviar dolores musculares y dolores musculares.
                Preparado a partir de fórmula alemana con medicamentos de alta calidad y esencias aromáticas para dar un alivio rápido de diversas dolencias.
                Su agradable aroma hace que sea el primer aceite medicado de la historia que se puede utilizar como perfume.
                Al ser un nombre familiar con el que todo el mundo está familiarizado, uno ha llegado a reconocer su distinguible y refrescante color verde y fragancia única que calma suavemente y aporta rápidamente un alivio bienvenido al dolor de cabeza y los síntomas del resfriado</td>
            
          </tr>
          <tr>
            <th scope="row">Problems menstruales</th>
            <td >Fundamentado en trabajar en la solución de la dismenorrea, trastornos MENSTRUALES, endocrino irregular, te ayudará a mejorar el flujo sanguíneo, los tendones y músculos de la zona abdominal los relajará, retrasar la menopausia, fortalece tus ovarios, quita dolor por causa de cólicos menstruales, el dolor lumbosacro, las manos y los pies fríos y otros síntomas</td>
            <td>Es la combinación de medicina y tecnología de ciencia de materiales moderna, el efecto de calentamiento físico y la terapia de infrarrojos se pueden poner en juego por completo, mejora el efecto del tratamiento en gran medida, proporciona una nueva idea y una mejor manera de curar los diversos dolores posparto. menstruación irregular</td>
          </tr>
        </tbody>
      </table>
        
       
    </main>
     <!--Icon float whatssap-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
     <i class="fa fa-whatsapp my-float"></i>
</a>
    </div>
      <br>
      <!--footer-->
      <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-1">
          <!-- Section: Social media -->
          <section class="mb-3">
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1 p-4"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/"
              role="button" target="_blank"
              ><i class="fab fa-facebook-f">facebook</i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn text-white btn-floating m-1 p-4"
              style="background-color: #55acee;"
              href="https://twitter.com/"
              role="button"
              ><i class="fab fa-twitter">twitter</i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1 p-4"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/"
              role="button"
              ><i class="fab fa-instagram">instagram</i
            ></a>
              
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white" href="./index.html">Gollostore</a>
        </div>
        <!-- Copyright -->
      </footer>
  
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>